@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: cornflowerblue;
  --secondary-color: #7c7b7b;
}

body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.nav-menu {
  display: flex;
  gap: 4em;
  font-size: 20px;
}

.logo {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

a:hover {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

button {
  color: white;
  background-color: var(--primary-color);
  border: none;
  border-radius: 12px;
  padding: 14px 40px;
  font-size: 20px;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 0.7;
}

h1 {
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

span {
  color: var(--secondary-color);
}

.hero {
  display: grid;
  grid-template-columns: 56rem auto;
  margin: 56px;
}

.container {
  padding: 2rem;
}

p {
  letter-spacing: 1px;
}

.two-buttons {
  display: flex;
  gap: 4rem;
}

.special-button {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background-color: white;
}

.special-button:hover {
  color: white;
  background-color: var(--primary-color);
}

figure {
  display: flex;
  justify-content: center;
}

.profile-pic {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  padding: 2px;
  margin: 0;
}

.social-icons {
  display: flex;
  gap: 2rem;
  margin: 2rem 2rem;
}

.social-icons a {
  color: var(--primary-color);
  width: 44px;
  height: 44px;
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
}
